<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros al Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros al Request HTTP GET - URL</h1>

	<ul>
		<li><a
			th:href="@{/params/string(texto='param enviado a la URL desde Thymeleaf')}">/params/string?texto=param
				enviado a la URL desde Thymeleaf</a></li>
		<li><a th:href="@{/params/string(texto='Hola Seth!')}">/params/string?texto=param
				Hola Seth!</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Cómo estás Seth?', numero=7)}">/params/mix-params?saludo=Cómo
				estás Seth&amp;numero=7</a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='Cómo estás Seth?', numero=8)}">/params/mix-params-request?saludo=Cómo
				estás Seth&amp;numero=8</a></li>
	</ul>

</body>
</html>